/*
 * http://aeqdev.com/tools/css/default/
 * v 1.3
 * License: none (public domain)
 */

/*
 * Colors: 00 40 80 c0 e0 f0 ff
 */

@import "adefault.css";

body
{
    background: #ffffff;
}

body, a
{
    color: #808080;
}


h1, h2, h3, h4, h5, h6,
acronym, abbr, dfn, dt, table caption, th, ins,
a:hover
{
    color: #404040;
}

acronym, abbr, dfn
{
    border-bottom-color: #404040;
}

hr
{
    border-bottom-color: #c0c0c0;
}

table, td
{
    border-color: #e0e0e0;
}

th
{
    border-color: #c0c0c0;
    background: #e0e0e0;
}

kbd, tt, tbody tr:hover td
{
    background: #f0f0f0;
}

input, button, textarea, select
{
    outline: 0;
    color: #808080;
    background: #ffffff;
    border: 1px #e0e0e0 solid;
    box-shadow: 0 0 1ex #c0c0c0;
}

input:hover, button:hover, textarea:hover, select:hover,
input:focus, button:focus, textarea:focus, select:focus
{
    border-color: #c0c0c0 !important;
    box-shadow: 0 0 1ex #808080 !important;
}

button,
input[type=submit],
input[type=reset],
input[type=button]
{
    background-color: #ffffff;
    text-shadow: 0 1px 1px #ffffff;
    box-shadow: 0 .3ex 1ex -.25ex #c0c0c0;
    background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
    background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
    background-image: -ms-linear-gradient(top, #ffffff, #e0e0e0);
    background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
    background-image: linear-gradient(top, #ffffff, #e0e0e0);
}

input[type=submit]:hover, input[type=submit]:focus,
input[type=reset]:hover, input[type=reset]:focus,
input[type=button]:hover, input[type=button]:focus,
button:hover, button:focus
{
    box-shadow: 0 .3ex 1ex -.25ex #808080 !important;
    color: #404040;
}

button:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active
{
    position: relative;
    top: 1px;
    box-shadow: 0 0 1ex -.25ex #808080 !important;
    color: #404040;
}
