/*
 * http://aeqdev.com/tools/css/default/
 * v 1.3
 * License: none (public domain)
 */

/*
 * Colors: 00 10 20 40 80 c0 ff
 */

@import "adefault.css";

body
{
    background: #000000;
}

body, a
{
    color: #808080;
}


h1, h2, h3, h4, h5, h6,
acronym, abbr, dfn, dt, table caption, th, ins,
a:hover
{
    color: #c0c0c0;
}

acronym, abbr, dfn
{
    border-bottom-color: #c0c0c0;
}

hr
{
    border-bottom-color: #404040;
}

table, td
{
    border-color: #202020;
}

th
{
    border-color: #404040;
    background: #202020;
}

kbd, tt, tbody tr:hover td
{
    background: #101010;
}

input, button, textarea, select
{
    outline: 0;
    color: #808080;
    background: #000000;
    border: 1px #202020 solid;
    box-shadow: 0 0 1ex #404040;
}

input:hover, button:hover, textarea:hover, select:hover,
input:focus, button:focus, textarea:focus, select:focus
{
    border-color: #404040 !important;
    box-shadow: 0 0 1ex #808080 !important;
}

button,
input[type=submit],
input[type=reset],
input[type=button]
{
    background-color: #000000;
    text-shadow: 0 1px 1px #000000;
    box-shadow: 0 .3ex 1ex -.25ex #404040;
    background-image: -webkit-linear-gradient(top, #202020, #000000);
    background-image: -moz-linear-gradient(top, #202020, #000000);
    background-image: -ms-linear-gradient(top, #202020, #000000);
    background-image: -o-linear-gradient(top, #202020, #000000);
    background-image: linear-gradient(top, #202020, #000000);
}

input[type=submit]:hover, input[type=submit]:focus,
input[type=reset]:hover, input[type=reset]:focus,
input[type=button]:hover, input[type=button]:focus,
button:hover, button:focus
{
    box-shadow: 0 .3ex 1ex -.25ex #808080 !important;
    color: #c0c0c0;
}

button:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active
{
    position: relative;
    top: 1px;
    box-shadow: 0 0 1ex -.25ex #808080 !important;
    color: #c0c0c0;
}
